a:focus {
    outline: thin dotted;
}

img {
    border-radius: 10px;
}

a:active,
a:hover {
    outline: 0;
}

.textType {
    display: inline-block;
    clear: left;
    text-align: right;
}

button,
input,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 2 */
    margin: 5px 0; /* 3 */
}

input[type="text"] {
    display: inline-block;
}

button,
input {
    line-height: normal;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    vertical-align: middle;
}

#username {
    width: 120px;
    padding: 1px;
}

#submit:hover {
    background-color: white;
}
#reset:hover {
    background-color: white;
}
button {
    background: lightgreen;
    width: 120px;
    height: 40px;
    border: 1px solid pink;
    border-radius: 5px;
}
#reset {
    background: lightgreen;
    width: 120px;
    height: 40px;
    border: 1px solid pink;
    border-radius: 5px;
}
form {
    margin: 0 auto;
    text-align: center;
}
.text h2 {
    text-align: center;
}

textarea {
    width: 300px;
    height: 7em;
}
.feedback_page {
    font-size: large;
}

#myWebsiteSidebar {
    float: right;
    width: 180px;
    padding: 20px 0;
    background-color: white;
}

#myWebsiteSidebar h3 {
    font-size: x-large;
    margin: 10px 10px 0px 10px;
}

.checkboxArea {
    /* height: 150px; */
    margin-top: 20px;
    font-size: larger;
}

input[type="checkbox"] {
    width: auto;
}

.singleCheckbox {
    margin: 5px 0;
}

.radioSection {
    margin-top: 25px;
}

.radioButtons {
    margin-top: 5px;
}
