#mealsArea ul li {
    margin-bottom: 10px;
}

section h4 {
    float: left;
}

img {
    border-radius: 10px;
    height: 100px;
}

section {
    width: 420px;
}
.content {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: #1c87c9;
    text-align: center;
}

.meals-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.food-area {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-area img {
    width: 30%;
    cursor: pointer;
    margin: 0 5px;
}
