html {
    background-image: url("../images/indianFoodBackground.jpg");
    background-size: contain;
}
body {
    font-family: "Dancing Script", cursive;
    width: 800px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    border: 3px solid black;
    box-shadow: 0 9px 18px 9px;
}
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}
h4 {
    padding: 10px;
}

/* Header */
header {
    background-image: linear-gradient(
        45deg,
        white 0%,
        lightgreen 75%,
        green 100%
    );
    padding: 15px;
}
header img {
    float: left;
    padding-right: 15px;
}
header h2 {
    font-size: xxx-large;
}
header h3 {
    font-size: x-large;
    padding-bottom: 15px;
}

/* Aside CSS Rules */
aside {
    text-align: center;
}
aside ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    font-size: x-large;
}

#main_menu ul li a {
    display: block;
    width: 200px;
    padding: 15px 0;
    text-decoration: none;
    background-color: black;
    color: white;
}

#main_menu ul li a:hover,
#main_menu ul li a:focus {
    background-color: gray;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
}

/* NAVIGATION AREA */
#main_menu {
    clear: left;
    font-size: x-large;
}
#main_menu ul {
    list-style: none;
    position: relative;
}
#main_menu ul li {
    float: left;
}
#main_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#main_menu ul ul li {
    float: none;
}
#main_menu ul li:hover > ul {
    display: block;
}
#main_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
#main_menu ul {
    margin: 0;
    padding: 0;
}
#main_menu ul li a {
    text-align: center;
    display: block;
    padding: 0.7em 0;
    text-decoration: none;
    background-color: black;
    color: white;
}

#main_menu ul li a:hover,
#main_menu ul li a:focus {
    background-color: gray;
}

/* Left Sidebar */
#mealsArea {
    float: left;
    width: 160px;
    padding: 10px 0;
}
#nav_list ul {
    list-style: none;
    padding-left: 1.5em;
}
#nav_list ul li {
    width: 110px;
    margin-bottom: 0.5em;
}

/* RIGHT SIDE BAR */
#teamSidebar {
    float: right;
    width: 180px;
    padding: 20px 0;
    background-color: white;
}
#rightSideNavigation ul {
    list-style: none;
    margin-left: 0px;
}
#rightSideNavigation ul li {
    width: 140px;
    margin-bottom: 0.5em;
    margin-left: 0px;
}

#rightSideNavigation ul li a {
    display: block;
    font-weight: normal;
    padding: 5px;
    color: black;
}
#teamSidebar h3 {
    font-size: x-large;
    margin: 10px 10px 0px 10px;
}
#rightSideNavigation ul li a:hover,
#rightSideNavigation ul li a:focus {
    color: green;
}

/* SECTION STUFF START HERE */
section {
    float: left;
    padding: 20px;
    text-align: center;
    width: 390px;
    font-family: "Dancing Script", cursive;
}
section h1 {
    /* font-size: 140%; */
    margin-bottom: 0.5em;
    padding: 4px;
    font-size: xx-large;
}
section h1:first-letter {
    font-size: 240%;
}
section h2 {
    font-size: xx-large;
    text-decoration: underline;
    margin: 0.8em 0 0.5em 0;
}
section h3 {
    font-size: 110%;
    margin: 0.8em 0 0.5em 0;
}
section p {
    margin-top: 0.5em;
    padding: 15px 20px;
    font-family: "Dancing Script", cursive;
    font-size: x-large;
}


section img {
    float: left;
}

/* Footer */
footer {
    background-image: linear-gradient(
        45deg,
        white 0%,
        lightgreen 25%,
        green 100%
    );
    border-top: 2px solid black;
    clear: both;
    padding: 15px;
}

footer p {
    font-size: large;
    text-align: center;
}
